* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #DAE0F5;
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: #A57AE3;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    color:aliceblue;
}

 h1 {
    text-align: center;
    padding:8px;
}

.containter {
    display: grid;
    margin: 0 auto;
    margin-top: 50px;
    text-align:left;
    padding:50px;
    width: 600px;
    background-color: #F5F5F5;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 3px 7px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 3px 7px -5px rgba(66, 68, 90, 1);
    box-shadow: 4px 3px 7px -5px rgba(66, 68, 90, 1);
}


.task-area {
    font-size: 24px;
    font-weight: bold;
    color: rgb(88, 87, 87);
}

.created-task{
    display: inline-grid;
    grid-template-columns: auto auto;
    padding-top: 30px;
}

.task-checkbox {
    margin-right:10px;
    cursor: pointer;
    position: relative;
    width: 30px;
    border: rgb(232, 230, 230);
}

.task-checkbox:checked {
    margin-right:10px;
    cursor: pointer;
    accent-color: #A57AE3;
    border:none;
   
}

.task-form {
    display: flex;
    flex-direction: column;
    
}

.created-task label {
    padding:12.5px;
    cursor: pointer;
}

#task-text {
    width: 85%;
    border: gray;
    padding: 10px;
    font-size:20px ;
}

.task-text:focus {
    outline: none;
}

.addnew-task {
    width: 200px;
    height: 50px;
    position: absolute;
    margin-top: 625px;
    margin-left: 200px;
    border-radius: 20px;
    border: none;
    background-color:#A57AE3;
    color:aliceblue;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    -webkit-box-shadow: 4px 3px 16px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 3px 16px -5px rgba(66, 68, 90, 1);
    box-shadow: 4px 3px 16px -5px rgba(66, 68, 90, 1);
    transition: .2s;
}

.Add-task{
    visibility: hidden;
}

.addnew-task:hover {
    background-color:#8463b3;
    transition: .3s;
}

.add-task-button {
    color: #A57AE3;
    background-color: #F5F5F5;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding:5px;
    transition: 0.2s;
}

.add-task-button:hover {
    color: #8463b3;
    transition: 0.2s;
}

.task-area-display{
    visibility:visible;
}