* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #DAE0F5;
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
}

nav {
    background-color: #A57AE3;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    color:aliceblue;
}

 h1 {
    text-align: center;
    padding:8px;
}

.containter {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    text-align:left;
    padding-left:40px;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 40px;
    position: relative;
    background-color: #F5F5F5;
    width: 60vw;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: 4px 3px 7px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 3px 7px -5px rgba(66, 68, 90, 1);
    box-shadow: 4px 3px 7px -5px rgba(66, 68, 90, 1);
}



.task-area {
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    color: rgb(88, 87, 87);
}

.created-task{
    display: inline-flex;
    grid-template-columns: auto auto;
    padding-top: 30px;
    height: auto;
}

.task-checkbox[type="checkbox"] {
    margin-right:10px;
    cursor: pointer;
    position: relative;
    width: 40px;
    
}

.task-checkbox:checked {
    margin-right:10px;
    cursor: pointer;
    accent-color: #A57AE3;
    border:none;
   
}

.task-form {
    display: flex;
    flex-direction: column;
    
}

.created-input {
    padding:12.5px;
    cursor: pointer;
    background-color: #F5F5F5;
    color: rgb(88, 87, 87);
    border: none;
    font-size: 22px;
    width: 80%;
    overflow: visible;
    height: auto;
}

.created-input:focus {
    outline:none;
    background-color: white;
}

#task-text {
    width: 80%;
    border: gray;
    padding: 10px;
    font-size:20px ;
}

#task-text:focus {
    outline: none;
}

.addnew-task {
    width: 200px;
    height: 50px;
    position: absolute;
    left:50%;
    bottom: 0;
    margin-bottom: -25px;
    transform: translateX(-50%);
    border-radius: 20px;
    border: none;
    background-color:#A57AE3;
    color:aliceblue;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    -webkit-box-shadow: 4px 3px 16px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 3px 16px -5px rgba(66, 68, 90, 1);
    box-shadow: 4px 3px 16px -5px rgba(66, 68, 90, 1);
    transition: .2s;
}

.Add-task{
    visibility: hidden;
}

.addnew-task:hover {
    background-color:#8463b3;
    transition: .3s;
}

.add-task-button {
    color: #A57AE3;
    background-color: #F5F5F5;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding:5px;
    transition: 0.2s;
}

.delete-task-button {
    color: #A57AE3;
    background-color: #F5F5F5;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding:5px;
    transition: 0.2s;
}

.delete-task-button:hover {
    color: #8463b3;
    font-size: 36px;
    transition: 0.2s;
}

.edit-task-button {
    color: #A57AE3;
    background-color: #F5F5F5;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding:5px;
    transition: 0.2s;
}

.edit-task-button:hover {
    color: #8463b3;
    font-size: 32px;
    transition: 0.2s;
}

.add-task-button:hover {
    color: #8463b3;
    transition: 0.2s;
    
}

.task-area-display{
    visibility:visible;
}

.icon-trash {
    font-size: 30px
}

@media only screen and (max-width: 1600px) {
    
    .containter {
        width: 80vw;
        align-items: center;
        justify-content: center;
    }


}

@media only screen and (max-width: 790px) {
    
    .containter {
        width: 90vw;
    }

    .created-input {
        font-size: 20px;
    }


}

@media only screen and (max-width: 560px) {
    
    .containter {
        width: 95vw;
        padding-left: 10px;
        
    }

    #task-text{
        width: 70%;
    }
    .created-input {
        font-size: 16px;
    }


}